/* ----------- Variables ----------- */
    :root {
      --ease-in-3s: ease-in 3s;
      --ease-in-6s: ease-in 6s;
      --ease-in-8s: ease-in 8s;
      --fadeIn: fadeIn;
      --fadeIn2: fadeIn2;
      --fadeIn3: fadeIn3;
      --fadeIn4: fadeIn4;
    }
/* --------------------------------- */


/* --- Keyframes Animations --- */
    @keyframes fadeIn {
      0%, 40% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
    }

    @keyframes fadeIn2 {
      0%, 60% {
          opacity: 0;
      }
      100% {
          opacity: 0.5;
      }
    }

    @keyframes fadeIn3 {
      0%, 75% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
    }

    @keyframes fadeIn4 {
      0%, 75% {
          opacity: 0;
      }
      100% {
          opacity: 0.45;
      }
    }
/* ---------------------------- */


/* -------------------- Base Styling -------------------- */
    body {
      padding: 0;
      background-color: black;
      color: white;
      overflow-y: hidden;
    }

    #gameback {
      padding: 0;
      animation: var(--fadeIn) var(--ease-in-3s);
      height: 100%;
    }
/* ------------------------------------------------------ */


/* --------------- Start Button Styling --------------- */
    #start {
      animation: var(--fadeIn4) var(--ease-in-8s);
      position: absolute;
      top: 70%;
      left: 26%;
      color: white;
      text-decoration: none;
      font-family: "Road Rage";
      font-size: 35px;
      opacity: 0.45;
      transition: 1.25s;
    }

    #start:hover {
      transform: translateX(-15%) translateY(-12%);
      cursor: pointer;
      font-size: 50px;
      opacity: 1;
    }
/* ---------------------------------------------------- */


/* --------------- Reset Button Styling --------------- */
    #reset {
      animation: var(--fadeIn3) var(--ease-in-8s);
      font-family: "Creepster";
      position: absolute;
      top: 95%;
      left: 96%;
      color: rgb(165, 42, 42);
      text-decoration: none;
      transition: 1.25s;
    }

    #reset:hover {
      top: 94.5%;
      left: 95.5%;
      text-shadow: 0px 0px 25px red;
      font-size: larger;
    }
/* ---------------------------------------------------- */


/* ----------- Background & Title Styling ----------- */
    #background {
      width: 100%;
      margin-top: -3%;
    }

    #title {
      animation: var(--fadeIn2) var(--ease-in-6s);
      opacity: 0.5;
      width: 50%;
      position: absolute;
      top: 15%;
      left: 5%;
    }
/* -------------------------------------------------- */
