*{
    padding: 0px;
    margin: 0px;
}

body{
    width: 100vw;
}

#office{
    background-image: url("../public/office.jpg");
    height: 100vh;
}

#officeView{
    width: 90vw;
    height: 100vh;
    background-color: bisque;
}

.sideButton{
    width: 5vw;
    height: 100vh;
    padding: 15px;
}

.left{
    float: left;
}

.right{
    float: right;
}