*{
    padding: 0px;
    margin: 0px;
}

body{
    width: 100vw;
}

#office{
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#officeViewContainer{
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-flow: row;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

#officeOne{
    background-color: red;
}

#officeTwo{
    background-color: blue;
}

#officeThree{
    background-color: green;
}

#officeFour{
    background-color: yellow;
}

.officeView{
    scroll-snap-align: center;
    min-width: inherit;
    min-height: 100vh;
}

.sideButton{
    width: 5vw;
    height: 100vh;
    padding: 15px;
}

.left{
    float: left;
}

.right{
    float: right;
}