*{
    padding: 0px;
    margin: 0px;
}

body{
    width: 100vw;
    overscroll-behavior: none;
}

#office{
    background-color: black;

    height: 100vh;
    display: flex;
    flex-direction: row;
}

#officeViewContainer{
    height: 100vh;
    display: grid;
    grid-template-columns: 100vw 100vw 100vw 100vw;
    overflow-y: hidden;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}

#officeOne{
    background-color: red;
}

#officeTwo{
    background-color: blue;
}

#officeThree{
    background-color: green;
}

#officeFour{
    background-color: yellow;
}

.officeView{
    scroll-snap-align: center;
    min-width: 90vh;
    min-height: 100vh;
}

.sideButton{
    width: 5vw;
    height: 100vh;
    padding: 15px;

    border-color: rgb(151, 151, 151);
    border-radius: 0;

    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(50, 50, 50);
}

.left{
    float: left;
}

.right{
    float: right;
}
